target/
!.mvn/wrapper/maven-wrapper.jar

# IDE specifikus fájlok

## IntelliJ IDEA
.idea/
*.iml
*.iws
out/

## Eclipse
.project
.classpath
.settings/
target/

## NetBeans
nbproject/
build/

# OS-specifikus fájlok
.DS_Store          # macOS
Thumbs.db          # Windows

# Java osztály fájlok (nem szükségesek, mert azok a target könyvtárban generálódnak)
*.class

# Javadoc generált fájlok
**/apidocs/

# Fájlok, amik Maven által generáltak, de nem tartalmazzák a build kimenetet
*.log
*.war
*.jar
*.ear